In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("LoanDefault.csv")

In [4]:
print(df)

       student      balance       income  default
0            1   729.526495  44361.62507        0
1            1     0.000000  12106.13470        0
2            0  1073.549164   1000.00000        0
3            0   529.250605  35704.49394        0
4            0   785.655883  38463.49588        0
...        ...          ...          ...      ...
19329        0  2023.901815  23366.43473        1
19330        0  1231.256092  21699.36877        1
19331        0  2148.039015  36930.48554        1
19332        0  1997.068621  39119.77676        1
19333        0  1568.574866  48865.89708        1

[19334 rows x 4 columns]

In [5]:
x = df.loc[:, ["student", "balance", "income"]]

In [6]:
y = df.loc[:, ["default"]]

In [7]:
print(x,y)

       student      balance       income
0            1   729.526495  44361.62507
1            1     0.000000  12106.13470
2            0  1073.549164   1000.00000
3            0   529.250605  35704.49394
4            0   785.655883  38463.49588
...        ...          ...          ...
19329        0  2023.901815  23366.43473
19330        0  1231.256092  21699.36877
19331        0  2148.039015  36930.48554
19332        0  1997.068621  39119.77676
19333        0  1568.574866  48865.89708

[19334 rows x 3 columns]        default
0            0
1            0
2            0
3            0
4            0
...        ...
19329        1
19330        1
19331        1
19332        1
19333        1

[19334 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [10]:
print(x_train,x_test)

       student      balance       income
10922        0  1620.530789  35486.64410
1915         1  1061.755086  17502.81964
12750        1  1823.977134  18108.11214
10936        0  1765.137365  49450.82635
9345         1   978.236904  15073.78785
...        ...          ...          ...
4962         0   681.693576  33327.11303
4052         0  1235.777517  35140.45880
3076         1  1785.797516  15291.67080
11862        0  1973.046672  39049.48366
4997         0  1997.172810  50273.60103

[14500 rows x 3 columns]        student      balance       income
905          0  1234.476479  31313.37458
13431        0  1771.078488  48316.06709
19251        1  2104.037603  17804.81192
11475        0  1257.284467  27644.14667
3389         1   915.653756  16888.81242
...        ...          ...          ...
2148         0   563.150192  43028.59720
18112        1  1535.239176  18095.78116
10234        0  1464.640525  36481.99661
6459         1  1647.801283  15392.21298
459          0   977.657621  43743.49673

[4834 rows x 3 columns]

In [11]:
from sklearn import linear_model

In [12]:
model = linear_model.LogisticRegression()

In [13]:
model.fit(x_train, y_train)

C:\Users\10642\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [14]:
print(y_train)

       default
10922        1
1915         0
12750        1
10936        1
9345         0
...        ...
4962         0
4052         0
3076         0
11862        1
4997         0

[14500 rows x 1 columns]

In [15]:
pred = model.predict(x_train)

In [16]:
print(pred)

[1 1 1 ... 1 1 1]

In [17]:
from sklearn.metrics import confusion_matrix

In [18]:
cm = confusion_matrix(y_train, pred)

In [19]:
print(cm)

[[4830 2442]
 [ 996 6232]]

In [20]:
accuracy = (cm[0,0]+cm[1,1])/(sum(sum(cm)))

In [21]:
print(sum(cm),sum(sum(cm)))

[5826 8674] 14500

In [22]:
print(accuracy)

0.762896551724138